<div id="map" style="width:100%; height:100%"></div>
    <link rel="stylesheet" href="/static/leaflet.css" />
    <script src="/static/leaflet.js"></script>

    <script>
        var greenIcon = new L.Icon({
            iconUrl: '/static/marker-green.png',
            iconSize: [64,64],
        });


        var mapOptions = {
            zoom: 7,
            center: [ 50.687222, 10.914167 ],
        }
        var map = new L.map('map', mapOptions);

        var layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(layer);

        {% for latitude,longitude in coordinates %}
            var marker = L.marker([{{ latitude }}, {{ longitude }}], { icon: greenIcon });
            if (marker != undefined){
                marker.addTo(map);
            }
        {% endfor %}
    </script>